#root {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

.card {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 255),
    rgb(0, 166, 255)
  );
  color: white;
  padding: 32px;
  border-radius: 8px;
}

hr {
  border: 0;
  height: 1px;
  background: white;
}
