#root {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

.info-container {
  background-color: white;
  border: black 1px solid;
  color: black;
  width: auto;
  height: auto;
  overflow: hidden;
  animation: slideDown 0.5s ease-in-out forwards;
}
